body{
  background-color:rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.move-icon{
  height: 50px;/*it automatically adjusts the width too*/
}
.move-button{
  background-color:transparent ;
  border: 3px solid white;
  /*border-width , border-style, border-color*/
  width: 120px;
  height: 120px; /*why not padding->as images are of different sizes*/
  border-radius: 60px;/*half of width height, to make circle*/
  margin-right: 10px;
  cursor: pointer;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;

}
.reset-score-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}